/* Animation */
/*===Arrow Type 1===*/
/*===Arrow Type 2===*/
/*===List column items===*/
.wrap-accordion {
  margin-top: 10px; }
  @media (min-width: 750px) {
    .wrap-accordion {
      margin: 20px auto;
      padding: 20px; } }
  .wrap-accordion .list-accordion .item .title {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: white;
    cursor: pointer;
    line-height: 1;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .wrap-accordion .list-accordion .item .title:after {
      content: "";
      width: 10px;
      height: 10px;
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      top: -3px; }
    .wrap-accordion .list-accordion .item .title.active {
      background-color: green;
      color: white; }
      .wrap-accordion .list-accordion .item .title.active:after {
        content: "";
        width: 10px;
        height: 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        top: 3px; }
  .wrap-accordion .list-accordion .item .sub-list {
    display: none; }
    .wrap-accordion .list-accordion .item .sub-list .sub-item a {
      padding-left: 20px;
      background-color: rgba(0, 128, 0, 0.5); }
    .wrap-accordion .list-accordion .item .sub-list .sub-item ul li {
      background-color: white; }
      .wrap-accordion .list-accordion .item .sub-list .sub-item ul li a {
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 20px;
        color: black; }
        .wrap-accordion .list-accordion .item .sub-list .sub-item ul li a:after {
          content: "";
          width: 10px;
          height: 10px;
          border-right: 1px solid rgba(0, 0, 0, 0.8);
          border-bottom: 1px solid rgba(0, 0, 0, 0.8);
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .wrap-accordion .list-accordion .item .sub-list .sub-item ul li a.active {
          background-color: transparent;
          color: green; }
          .wrap-accordion .list-accordion .item .sub-list .sub-item ul li a.active:after {
            content: "";
            width: 10px;
            height: 10px;
            border-right: 1px solid rgba(0, 0, 0, 0.8);
            border-bottom: 1px solid rgba(0, 0, 0, 0.8);
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: -3px; }
    .wrap-accordion .list-accordion .item .sub-list .sub-item.no-sub-item a:after {
      content: "";
      width: 10px;
      height: 10px;
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: -3px; }

/*# sourceMappingURL=accordion.css.map */
